# --- Virtual environments ---
.venv/
venv/
env/
ENV/
fraud_detection_env/

# --- Python cache ---
__pycache__/
*.py[cod]
*.pyo

# --- Jupyter ---
.ipynb_checkpoints/

# --- MLflow (local artifacts) ---
mlruns/
mlflow.db
mlartifacts/

# --- IDE ---
.vscode/
.idea/
